@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Norse Bold';
    src: url(../fonts/norsebold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --logo-color: #a9792b;
    --text-gray: #6b7280;
    --heading-gray: #1f2937;
    --bg-gray-50: #f9fafb;

}

body {
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

li a {
    list-style-type: none;
    color: black;
}

.header {
    min-height: 100px;
    width: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cfd1d8;
}

.logo {
    font-size: 60px; 
    color: var(--logo-color);
    font-family: 'Norse Bold';
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar li {
    list-style: none;
    position: relative;
}

.navbar li a {
    color: var(--text-gray);
    font-size: 18px;
    padding: 20px 10px;
}

.navbar li a:hover {
    color: var(--logo-color);
    border-bottom: 2px solid var(--logo-color);    
}

.navbar li .active {
    color: var(--logo-color);
}

.main {
    flex: 1;
    width: 100%;
    padding: 80px 150px;
    background-color: var(--bg-gray-50);
}

.hero {
    text-align: center;
}

.hero img {
    margin-top: 40px;
    height: auto;
    width: 300px;
}

.hero h1 {
    font-size: 40px;
    color: var(--heading-gray);
    font-weight: 500;
    margin-bottom: 18px;
}

.hero p,
.recipes p {
    color: var(--text-gray);
    font-size: 20px;
}

.recipes {
    margin-top: 30px;
}

.recipes h2 {
    font-size: 30px;
    color: var(--heading-gray);
    margin-bottom: 16px;
}

.card-container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card:hover h3 {
    border-bottom: 0.5px solid var(--logo-color);
    display: inline-block;
}

.card {
    height: 390px;
    display: flex;
    flex-direction: column;
    padding: 26px 16px;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 16px;
    gap: 16px;
    box-shadow: rgba(0, 0, 0, 1);
}

.card img {
    height: 256px;
    width: 450px;
    border-radius: 6px;
}

.card-title p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.card-title h3 {
    font-size: 26px;
}

.footer {
    min-height: 50px;
    border-top: 1px solid #cfd1d8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-gray);
    padding: 10px 50px;
}